import React, { Suspense, lazy } from 'react';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';

// Import statique
import Navbar from './components/Navbar';
import Hero from './components/Hero';
import ScrollToTop from './hooks/ScrollToTop';
import WhatsAppButton from './components/WhatsAppButton';
import Footer from './components/Footer';

// Imports Dynamiques
const Services = lazy(() => import('./components/Services'));
const Portfolio = lazy(() => import('./components/Portfolio'));
const About = lazy(() => import('./components/About'));
const Contact = lazy(() => import('./components/Contact'));
const Tips = lazy(() => import('./components/Tips'));
const ProjectDetails = lazy(() => import('./components/ProjectDetails'));
const Testimonials = lazy(() => import('./components/Testimonials'));

const LoadingSpinner = () => (
  <div style={{ height: '50vh', display: 'flex', justifyContent: 'center', alignItems: 'center', color: '#0056B3' }}>
    Chargement...
  </div>
);

// Page d'Accueil unique
const Home = () => {
  return (
    <>
      <Hero />
      <Suspense fallback={<LoadingSpinner />}>
        <Services />
        <Portfolio />
        <Tips /> {/* Section Conseils intégrée */}
        <Testimonials />
        <About />
        <Contact /> {/* Section Contact intégrée */}
      </Suspense>
    </>
  );
};

function App() {
  return (
    <Router>
      <ScrollToTop />
      <Navbar />
      <Routes>
        <Route path="/" element={<Home />} />
        <Route path="/project/:id" element={<Suspense fallback={<LoadingSpinner />}><ProjectDetails /></Suspense>} />
      </Routes>
      <WhatsAppButton />
      <Footer />
    </Router>
  );
}

export default App;